@charset "utf-8";
/* CSS Document */

/*This is to give the div mainWrapper a bacground and size, the color really helps me to see it*/
#mainWrapper{
	width: 1200px;
	length: 100%;
	background-color: lightblue;
	margin: 0px auto;  /*this line centers the page*/
	}

/*This is so that the padding and border added later don't add to the overall box size, really important*/
*{
	box-sizing: border-box;
}

header{
	width: 1200px;
	height: 110px;
	background-color: lightslategray;
	margin: 0px;
	padding: 2px;
	border-bottom-style: ridge;
	text-align: center;
	font-family: 'Courgette';
	font-size: 22px;
	text-shadow: 1px 1px lightgrey;
}

nav{
	width: 1200px;
	height: 65px;
	background-color: coral;
	margin: 0px;
	padding: 10px 100px 10px 260px;
	borderstyle: double;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav li{
	margin: 15px;
	padding: 1px;
	display: inline-block;
	width: 200px;
	text-align: center;
}

#mainFood{
	width: 710px;
	height: 295px;
	background-color: beige;
	margin: 20px 10px 10px 20px;
	padding: 10px 10px 10px 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

#mainFood h2{
	text-align: center;
}

#mainFood img{
	width: 200px;
	height: 150px;
	margin: 5px 5px 5px 8px;
	padding: 0px;
	float: right;
}


#otherPages{
	width: 425px;
	height: 295px;
	background-color: beige;
	margin: 20px 20px 10px 10px;
	padding: 10px;
	float: right;
	text-align: center;
}

.otherPages2{
	height: 65px;
	width: 150px;
	margin: 5px;
	padding: 15px 5px 5px 5px;
	display: inline-block;
	background-color: lightblue;
	border: 4px solid #B50C0F;
	border-radius: 8px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	}

.foods{
	height: 375px;
	width: 380px;
	margin: 10px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: beige;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	float: left;
}

#additionalInfo{
	height: 375px;
	width: 380px;
	margin: 10px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: beige;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	float: left;
}

h4{
	color: darkblue;
}

#download{
	height: 120px;
	width: 1180px;
	margin: 20px 10px 18px 15px;
	padding: 5px 5px 5px 5px;
	background-color: beige;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	line-height: .8;
	text-align: center;
	
}

#menu2{
	height: 65px;
	width: 150px;
	padding: 5px 10px 5px 10px;
	background-color: lightblue;
	border: medium double blue;
	border-radius: 8px;
}

#reservations{
	height: 230px;
	width: 1100px;
	margin: 30px 53px 30px 53px;
	padding: 40px 60px 40px 60px;
	border: outset;
	font-family: Arial, Helvetica, sans-serif;
				}

#reservations label{
	display: inline-block;
}

#requests{
	height: 40px;
	width: 250px;
	}

#submit{
	height: 30px;
	width: 90px;
	background-color: lightgreen;
}

#bottom {
	height: 70px;
	width: 200px;
	margin: 30px 10px 10px 530px;
	padding: 6px 10px;
	border: 6px ridge green;
	border-radius: 10px;
}

footer{
	height: 65px;
	width: 1200px;
	margin: 25px 0px 5px 0px;
	padding: 25px 10px 10px 10px;
	background-color: coral;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

